# Python
*.pyc
*.pyo
*.pyd
*.egg-info/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64
*.prev
*.dat.prev
*.ninja_log
*.ninja_deps
# Temp
build
dist
*.local

# VeighNa
.vntrader

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Documents
_build
_static
_templates

# Misc
.DS_Store
*.mo

# Alpha
lab/
/.mypy_cache
/vnpy_ctptqtts/vnpy_ctptqtts/api/.ninja_deps
/vnpy_ctptqtts/vnpy_ctptqtts/api/.ninja_log
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-private/build.dat
/vnpy_ctptqtts/vnpy_ctptqtts/api/build.ninja
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-private/cmd_line.txt
/vnpy_ctptqtts/vnpy_ctptqtts/api/compile_commands.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-private/coredata.dat
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-private/coredata.dat.prev
/mycode/daily_data_log.txt
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-private/incdetect.cpp
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-private/install.dat
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-info/intro-benchmarks.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-info/intro-buildoptions.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-info/intro-buildsystem_files.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-info/intro-compilers.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-info/intro-dependencies.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-info/intro-install_plan.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-info/intro-installed.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-info/intro-machines.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-info/intro-projectinfo.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-info/intro-targets.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-info/intro-tests.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-private/meson.lock
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-info/meson-info.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-logs/meson-log.txt
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-python-native-file.ini
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-logs/meson-setup.txt
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-private/meson_benchmark_setup.dat
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-private/meson_test_setup.dat
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-private/pycompile.py
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-private/python-3.12-installed.json
/vnpy_ctptqtts/vnpy_ctptqtts/api/meson-private/sanitycheckcpp.cc
/mycode/tick_log.txt
/vnpy_ctptqtts/vnpy_ctptqtts/api/vnctpmd.cp312-win_amd64.lib
/vnpy_ctptqtts/vnpy_ctptqtts/api/vnctptd.cp312-win_amd64.lib
/vnpy_ctptesttq/vnpy_ctptesttq/api/meson-private/coredata.dat.prev
/vnpy_ctptesttq/vnpy_ctptesttq/api/meson-private/python-3.13-installed.json
/vnpy_ctptesttq/vnpy_ctptesttq/api/vnctpmd.cp313-win_amd64.lib
/vnpy_ctptesttq/vnpy_ctptesttq/api/vnctptd.cp313-win_amd64.lib
/vnpy_ttstq/vnpy_ttstq/api/meson-private/coredata.dat.prev
/vnpy_ctptq/vnpy_ctptq/api/meson-private/coredata.dat.prev
